<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body px-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                    <form [formGroup]="formvalue">
  
                        <h2 class="fw-bold mb-2 text-uppercase">Verify</h2>
                        <p class="text-white-50 fs-4 text-light mb-5">Please enter Otp that we have Sent to your Email!</p>
  
                        
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">OTP :</label>
                            <input formControlName="Otp" type="text" name="Otp" maxlength="6"   class="form-control form-control-lg" />
                            @if(formvalue.controls['Otp'].errors?.['required'] && formvalue.controls['Otp'].touched  ){
                              <span class="text-danger">*Required</span>
                            }
                        </div>
                         
                        
                        
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5"  [disabled]="formvalue.invalid" (click)="onSubmit()"  >Submit</button>
                        
                    </form>
  
              </div>
   
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>